@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}


<h1 class="text-center">Products List</h1>

@if (@Model.Count() == 0)
{
    <div class="text-center">
    <h4 class="text-center mt-5">There aren't any products.</h4>
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary mt-5">Create a new product</a>
    </div>

}
else
{
    <table class="table m-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Units Left in Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>

}
